.Magic8Ball {
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 30px;
    justify-content: center;
}

#user_input {
    align-items: center;
    width: 400px;
    float: right;
    margin-right: 220px;
    height: 30px;
}

.submitButtonResponse {
    justify-content: center;
    align-items: center;
    display: flex;
}

#response {
    font-size: 20px;
}

#footer {
    text-align: center
}

p {
    size: 15px;
    text-align: center;
}

#button {
    background-color: white;
    color: teal;
    padding: 10px;
    border-radius: 45%;
    font-size: 25px;
    float: left;
    margin-left: 380px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: grey;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    text-align: center;
    color: darkblue;
}